

var HelloWorld = React.createClass({
render: function() {
  var headerElems = [];
  for(var i = 0; i < this.props.students["head_fields"].length; i++) {
    headerElems.push(<th>{this.props.students["head_fields"][i]}</th>);
  }
  return (
    <div className='HelloWorld'>
      <table>
        <tr>
          {headerElems}
        </tr>
      
      </table>
    </div>
    );
}
});

var ready = function () {
React.render(
  <HelloWorld students = {RG.students}/>,
  document.getElementById('data-container')
);
};

$(document).ready(ready);
